body {
            background-color: #a8dfff;
            color: rgb(0, 17, 255);
        }
        nav {
            text-align: center;
            transform: translateY(-10px);
            background-color: #001aff;
            padding: 10px;
        }


        

        nav a {
            text-align: center;
            text-decoration: white;
            margin-right: 20px;
            text-decoration: none;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }

body {
    background-color: #a8dfff;
    color: rgb(0, 17, 255);
  }

  header {
    background-color: #002fff;
    color: white;
    padding: 20px;
    text-align: center;
}   

section {
    padding: 20px;
    max-width: 1400px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}